@{
    ViewData["Title"] = "About";
}
</br>
<p>This is a simple test aplication for getting tweets via REST API</p>
<p>Just put date and time into pickers "From" and "To" and press "Get tweets"</p>
<p>Getting tweets can take a couple of minutes. It depeneds from date range. So, please be patient :-)</p>
<p>Enjoy!</p>
</br>
<p>Written by Roman Makarevych. Special for <a href="http://customertimes.com">customertimes.com</a></p>
